//------Fonts Import------
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@400;500&display=swap');


//------Colors------
$primaryColor: #0282f9;
$secondaryColor : #1c1c1c;

//------Fonts------
$headerFont: 'Fira Sans Condensed', sans-serif;
